
compiler/bin/Debug/net5.0/compiler.deps.json
compiler/bin/Debug/net5.0/compiler.dll
compiler/bin/Debug/net5.0/compiler.exe
compiler/bin/Debug/net5.0/compiler.pdb
compiler/bin/Debug/net5.0/compiler.runtimeconfig.dev.json
compiler/bin/Debug/net5.0/compiler.runtimeconfig.json
compiler/bin/Debug/net5.0/ref/compiler.dll
compiler/bin0/Debug/net5.0/compiler.deps.json
compiler/bin0/Debug/net5.0/compiler.dll
compiler/bin0/Debug/net5.0/compiler.exe
compiler/bin0/Debug/net5.0/compiler.pdb
compiler/bin0/Debug/net5.0/compiler.runtimeconfig.dev.json
compiler/bin0/Debug/net5.0/compiler.runtimeconfig.json
compiler/bin0/Debug/net5.0/ref/compiler.dll
compiler/obj/compiler.csproj.nuget.dgspec.json
compiler/obj/compiler.csproj.nuget.g.props
compiler/obj/compiler.csproj.nuget.g.targets
compiler/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
compiler/obj/Debug/net5.0/apphost.exe
compiler/obj/Debug/net5.0/compiler.AssemblyInfo.cs
compiler/obj/Debug/net5.0/compiler.AssemblyInfoInputs.cache
compiler/obj/Debug/net5.0/compiler.assets.cache
compiler/obj/Debug/net5.0/compiler.csproj.CoreCompileInputs.cache
compiler/obj/Debug/net5.0/compiler.csproj.FileListAbsolute.txt
compiler/obj/Debug/net5.0/compiler.csprojAssemblyReference.cache
compiler/obj/Debug/net5.0/compiler.dll
compiler/obj/Debug/net5.0/compiler.GeneratedMSBuildEditorConfig.editorconfig
compiler/obj/Debug/net5.0/compiler.genruntimeconfig.cache
compiler/obj/Debug/net5.0/compiler.pdb
compiler/obj/Debug/net5.0/ref/compiler.dll
compiler/obj/project.assets.json
compiler/obj/project.nuget.cache
assembler/bin/Debug/net5.0/assembler.deps.json
assembler/bin/Debug/net5.0/assembler.deps.json
assembler/bin/Debug/net5.0/assembler.deps.json
assembler/bin/Debug/net5.0/assembler.deps.json
assembler/bin/Debug/net5.0/assembler.dll
assembler/bin/Debug/net5.0/assembler.deps.json
assembler/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
assembler/obj/Debug/net5.0/assembler.AssemblyInfo.cs
assembler/obj/Debug/net5.0/assembler.AssemblyInfoInputs.cache
assembler/obj/Debug/net5.0/assembler.csprojAssemblyReference.cache
assembler/obj/Debug/net5.0/assembler.GeneratedMSBuildEditorConfig.editorconfig
assembler/obj/project.nuget.cache
assembler/obj/project.assets.json
assembler/obj/Debug/net5.0/ref/assembler.dll
assembler/obj/Debug/net5.0/assembler.genruntimeconfig.cache
assembler/obj/Debug/net5.0/assembler.pdb
assembler/obj/Debug/net5.0/assembler.dll
assembler/obj/Debug/net5.0/assembler.csproj.FileListAbsolute.txt
assembler/obj/Debug/net5.0/assembler.csproj.CoreCompileInputs.cache
assembler/obj/Debug/net5.0/assembler.assets.cache
assembler/obj/Debug/net5.0/apphost.exe
assembler/obj/assembler.csproj.nuget.g.targets
assembler/obj/assembler.csproj.nuget.g.props
assembler/bin/Debug/net5.0/ref/assembler.dll
assembler/bin/Debug/net5.0/assembler.runtimeconfig.dev.json
assembler/bin/Debug/net5.0/assembler.pdb
assembler/obj/assembler.csproj.nuget.dgspec.json
